<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/solarized-light.css" | relative_url }}">
  </head>
  <body>
    <script src="{{ "/assets/js/highlight.pack.js" | relative_url }}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">Notatki z&nbsp;piwnicy</a></h1>
        
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p><small>{{ site.description | default: site.github.project_tagline }}</small></p>
        
        <nav>
        <p><a href="/index.html"/>Najnowsze</a></p>
        <p><a href="/toc.html"/>Spis treści</a></p>
        <p><a href="/about.html"/>O</a></p>
        <p><a href="{{ site.github.owner_url }}">GitHub</a></p>
        </nav>

      </header>
      <section>

      {{ content }}

      </section>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
